@model CocktailViewModel
@using CocktailAlmanac.Helpers

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Recipe.Name)</h2>

<div>
    <h4>Category: @Html.DisplayFor(model => model.Recipe.RECIPE_CATEGORY.Name)</h4>
    <hr />

    <img src="@Url.Content(Model.Recipe.ImageURL)" alt="Image" width=360 />

    <h5>@Html.DisplayFor(model => model.Recipe.Description)</h5>

    <h3>Ingredients</h3>
    <ul>
        @foreach (var item in Model.Recipe.RECIPE_INGREDIENT)
        {
            <li>
                @Html.ActionLink(item.INGREDIENT.Name, "Details", "Ingredients",
                                         new { id = item.IngredientId }, new { style = "text-decoration:none;" })
            </li>
        }
    </ul>

    <h3>Steps</h3>
    <ol>
        @foreach (var item in Model.Recipe.RECIPE_STEP)
        {
            <li>@Html.DisplayFor(modelItem => item.Description).If(item.Description != null || item.Description != "")</li>
        }
    </ol>

    <h3>Allergens</h3>
    @foreach (var item in Model.Allergens) {
        <span class="ingredient-allergen">@Html.ActionLink(item.ShortName, "Details", "Allergens",
                                         new { id = item.AllergenId }, new { style = "text-decoration:none;" }) | </span>
    }

    <h3>Nutritional Info</h3>

    <table>
        <thead>
            <tr>
                <th>Naehwerte</th>
                <th>g pro 100g</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.NutritionLabel.NutritionalInfo.Count(); i++) {
                <tr>
                    <td>
                        @Html.ActionLink(Model.NutritionLabel.NutritionalInfo[i].ShortName, "Details", "NutritionalInfo",
                                         new { Model.NutritionLabel.NutritionalInfo[i].Nutritional_InfoId }, new { style = "text-decoration:none;" })
                    </td>
                    <td>@Model.NutritionLabel.Amount[i]</td>
                </tr>
            }
        </tbody>
    </table>

</div>
<br />
<div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Recipe.RecipeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
