@model CocktailAlmanac.Models.RECIPE

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Category: @Html.DisplayFor(model => model.RECIPE_CATEGORY.Name)</h4>
    <hr />

    <img src="@Url.Content(Model.ImageURL)" alt="Image" width=360 />

    <h5>@Html.DisplayFor(model => model.Description)</h5>

    <h3>Ingredients</h3>
    <ul>
        @foreach (var item in Model.RECIPE_INGREDIENT)
        {
            <li>@Html.DisplayFor(modelItem => item.INGREDIENT.Name)</li>
        }
    </ul>

    <h3>Steps</h3>
    <ol>
        @foreach (var item in Model.RECIPE_STEP)
        {
            <li>@Html.DisplayFor(modelItem => item.Description)</li>
        }
    </ol>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
