@model CocktailAlmanac.Models.RECIPE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RECIPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECIPE_CATEGORY.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECIPE_CATEGORY.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers1.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
